.button {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  overflow: hidden;
}

.button__pinned {
  height: 19px;
}

.button:hover {
  cursor: pointer;
}

.icon {
  font-size: 24px;
  color: #a5a9b1;
}

.button__pinned .icon {
  color: #5e81ac;
}
