.container {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  height: 100%;
}

.cell {
  width: 300px;
  flex-grow: 0;
  flex-shrink: 0;
}

.cell:not(:last-child) {
  margin-right: 20px;
}
