.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  padding: 0 12px;
  color: #2e3440;
  font-size: 20px;
  margin-right: auto;
}

.RemoveButton {
  margin-left: 3px;
}
