.container {
  display: flex;
  align-items: center;
}

.button {
  border: 2px solid #bf616a;
  height: 30px;
  width: 70px;
  position: relative;
  background: none;
  border-radius: 50px;
  font-size: 0;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  padding: 0;
}

.button:hover {
  cursor: pointer;
}

.button::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #bf616a;
  transition: all 0.4s;
  position: absolute;
  left: 7px;
}

.button.active {
  border: 2px solid #a3be8c;
}

.button.active::after {
  left: 44px;
  background-color: #a3be8c;
}

.label {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}
