.List {
  background-color: #2e3440;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border: 1px solid #5e81ac;
}

.Link {
  color: #fff;
  display: block;
  padding: 12px;
  text-decoration: none;
  transition: all 0.4s;
  font-size: 18px;
}

.Link:hover {
  background-color: #5e81ac;
}

.LinkActive {
  background-color: #5e81ac;
}
