.container {
  display: flex;
  align-items: center;
  padding: 25px;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
}

.image {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #5e81ac;
  margin-right: 15px;
  flex-shrink: 0;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.name {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 24px;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.logout {
  margin-left: 7px !important;
}
